<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_TITLE</key>
	<string>iDent</string>
	<key>BASE_URL</key>
	<string>ident.com.br</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.isharelife.ident</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>pt-BR</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>XXXXXXXXXX</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ident</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ident</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>AppBundle</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.isharelife.ident</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string></string>
	<key>ENV</key>
	<string>$(ENV)</string>
	<key>FacebookAppID</key>
	<string>XXXXXXXXXXX</string>
	<key>FacebookDisplayName</key>
	<string>iDent</string>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://go.ident.app</string>
		<string>http://go.ident.app</string>
	</array>
	<key>ID</key>
	<string>ident</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>JWPlayerKey</key>
	<string>XXXXXXXXXXXXXXXXXX</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.education</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>snapchat</string>
		<string>instagram-stories</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>whatsapp</string>
		<string>instagram</string>
		<string>fb</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Esse recurso é necessário para melhorar sua experiência com o aplicativo</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Esse recurso é necessário para melhorar sua experiência com o aplicativo</string>
	<key>NSCameraUsageDescription</key>
	<string>Esse recurso é necessário para melhorar sua experiência com o aplicativo</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Esse recurso é necessário para melhorar sua experiência com o aplicativo</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Esse recurso é necessário para melhorar sua experiência com o aplicativo</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Esse recurso é necessário para melhorar sua experiência com o aplicativo</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Esse recurso é necessário para melhorar sua experiência com o aplicativo</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Esse recurso é necessário para melhorar sua experiência com o aplicativo</string>
	<key>UIAppFonts</key>
	<array>
		<string>Georgia-Italic.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>WebstackerIcons.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>WEGEnvironment</key>
	<string>DEFAULT</string>
	<key>WEGLicenseCode</key>
	<string>$(WEBENGAGE_KEY)</string>
	<key>WEGLogLevel</key>
	<string>VERBOSE</string>
	<key>app_name</key>
	<string>iDent</string>
</dict>
</plist>
